<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
	   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>



    <sites>
      <site name="AMPDEMO" patch:before="site[@name='website']"
            hostName="ampdemo.local"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            language="en"
            startItem="/Home"
            database="web"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            mvcArea="AMP"
            enableItemLanguageFallback="true"
            />
    </sites>
  </sitecore>
</configuration>