<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
	   xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Foundation.Macaw.AMP.Pipelines.PreprocessRequest.CheckAmpUrl, Foundation.Macaw.AMP" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']" />
      </preprocessRequest>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" 
                   type="Foundation.Macaw.AMP.Pipelines.HttpRequest.AmpLayoutResolver, Foundation.Macaw.AMP">
        </processor>
      </httpRequestBegin>
      <!--<renderLayout>
        <processor patch:after="processor[@type='Sitecore.Pipelines.RenderLayout.InsertRenderings, Sitecore.Kernel']" 
                   type="Foundation.Macaw.AMP.Pipelines.RenderLayout.AmpInsertRenderings, Foundation.Macaw.AMP">
        </processor>
      </renderLayout>-->
    </pipelines>
  </sitecore>
</configuration>